/* ==========================================================================
   Header custom styles
   ========================================================================== */
$gray:#757373;
body *{outline:none;
 &:hover,&:focus,&:active{outline:none;}
}
header {line-height: 65px; position: relative; width: 100%; top: 0; left: 0; z-index: 999; background: #0B1329;
	
 }
 section {
 	.banner{
 	}
 	 .latest {
 	 	padding: 7px 7px 3px 1px !important;

 	 	

	 	 img{
	 	 	    height: 100px;
			    width: auto;
			   
			    float: left;
	 		
	 	}
 	}
 	.work{

 		padding-bottom:15px;
 		padding-right:0px;
 		img{
 			width:100%;
 		}

 	}
 	.blog{
 		padding-top: 25px;
 		.blog-img{
 			padding-left:0px;
 			padding-bottom:15px;



 		}
 	}
 	.follow{
 		padding-left:5px;
 		padding-right:5px;

 		img{
 			width:100%;
 		}
 		h6{
 			padding-top:15px;
 		}
 	}
 	
 	.input {
 		padding-top:33px;
 		input{
 		padding :10px;
 		width:100%;
 	}
 	
 	}
 	.last{
 		padding-right: 0px;
 	}
 	.first{
 		padding-left: 0px;

 	}
 	.button{
 		margin-top:5px;
 		display:inline-block;
 		margin-left: 82%;
 	}

 }
 footer{
 	padding-top: 0;
 }
.flex{display:flex;}
.sidebar{background:#474642;text-align:center;padding-top:50px;
 ul{list-style:none;margin:0;padding:0;
 li{list-style:none;padding-bottom:30px;
 i{font-size:2rem;color:#fff;}
 a{
 	&:hover,&.active{
 		i{color:#2dadba;}
 	}
 }
 }
 }
}
.content-area{background:#f9f8f3;padding-left:0;padding-right:0;
 .head{padding-top:20px;padding-bottom:20px;border-bottom:1px solid rgba($gray,0.4);background:#f9f8f3;
 	h3{text-transform:uppercase;color:$gray;font-size:0.9rem;margin:0;line-height:23px;}
 	.col-xs-9{
 		span{display:inline-block; cursor:pointer;padding:4px 10px;text-align:center;color:$gray;font-size:0.75rem;border:1px solid rgba($gray,0);border-radius:50px;margin-right:1%;
 			strong{color:rgba($gray,0.6);font-size:0.7rem;font-weight:400;}
 &:hover,&.active{border:1px solid rgba($gray,0.4);}
 }
 	}
 }
 .desc-list{background:#faf9f5;max-height:600px;overflow:auto;padding-left:0;padding-right:0;
 > ul{list-style:none;margin:0;padding:0;
 > li{padding:18px 0;border-bottom:1px solid rgba($gray,0.3);@include clearfix();width:100%;
 	.col-xs-3{text-align:center;}
 i{font-size:4rem;color:#333;}
 .col-xs-9{
 	ul{list-style:none;margin:0;padding:0;
 li{font-size:0.8rem;color:rgba($gray,0.8);padding-bottom:5px;display:inline-block;width:50%;
 	i{font-size:12px;color:rgba($gray,0.8);}
 }
 	}
 	h5{color:#333;font-size:0.9rem;}
 }
 &:hover{background:#fff;}
 }
 }
 }
}
.comments{background: #40c3bd;padding:50px 25px;
background: -moz-linear-gradient(left, #40c3bd 0%, #2dadba 100%, #2dadba 100%);
background: -webkit-linear-gradient(left, #40c3bd 0%,#2dadba 100%,#2dadba 100%);
background: linear-gradient(to right, #40c3bd 0%,#2dadba 100%,#2dadba 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40c3bd', endColorstr='#2dadba',GradientType=1 );
h6{padding-bottom:12px;font-size:1.2rem;color:#fff;font-weight:300;}
 textarea{height:80px;border:1px solid rgba(#fff,0.7);padding:8px;resize:none;color:#fff;font-size:0.85rem;background:none;font-family:'Muli', sans-serif;border-radius:3px;margin-bottom:20px;
&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
  font-family:'Muli', sans-serif;
}
&::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
  font-family:'Muli', sans-serif;
}
 }
 form{position: relative;}
 .has-error {display: inline-block;width: 100%;font-size: 0.75rem;	color: red;position: absolute;left: 0;bottom: 47px;}
 [type='submit'] {background:#32b3b9;color:#fff;font-size:0.9rem;text-align:center;padding:15px 22px;border:none;outline:none;cursor:pointer;border-radius:3px;text-shadow:none;
&:hover{background:darken(#32b3b9,5%);}
}
ul{margin:0;padding:25px 0 0 0;list-style:none;
 li{padding:16px 0;width:100%;color:#fff;font-size:0.85rem;white-space: pre-line;@include clearfix();border-bottom:1px solid rgba(#fff,0.7);word-wrap:break-word;
 a{float:right;color:#fff;cursor:pointer;
 i{font-size:1rem;color:#fff;}
&:hover{
	i{color:rgba(#fff,0.6);}
} 
}
 }
}
}

