/* ==========================================================================
   mobile menu styles
   ========================================================================== */
   .navicon {display: none; }
@media only screen and (max-width:$bp-large) {
	.navicon { display: block; line-height: 80px;     position: fixed; color: #000; right: 10px; z-index: 999; }
header {
	.row {
		>div {position: static;}
	}
}
 nav {   padding: 0 10px; line-height: normal;
		>ul { position: fixed; width: 300px; top: 0; right: -300px; background: #fff; padding: 40px 0 30px; z-index: 999;      height:100%; overflow: hidden; overflow-y: scroll; @include transition(all 0.3s ease-out 0s);
			>li { position: relative; border-bottom: 1px solid rgba(0, 0, 0, 0.07); padding: 5px 0; display: block; margin-left: 20px;
				>a {font-size: 18px; color: #fff; line-height: 33px; display: inline-block; padding: 3px 0;
					&:hover {color: #fff}
				}
			}
		}
		.icon {    position: absolute; right: 5px; top: 8px; font-size: 22px; color: #5e707d;     padding: 5px 8px; display: inline-block !important; cursor: pointer; }
		 .menu-content  {display: none}
	}
.open-menu { 
	nav>ul {  right: 0}
}
.sub-menu { position: static;      display: none;
		li { display: block; position: relative;
			a {font-size: 15px; color: #fff; line-height: 34px; padding-bottom: 10px;
				&:hover {color: #f00}
			}
		}
		.icon {top: 0;}
	}


}

@media only screen and (max-width:$bp-xsmall) {
	nav {
		>ul {width: 100%; left: -100%; }
	}
}

@media only screen and (min-width:$bp-large) {
	nav {float: left;
		ul>li {margin-left: 20px;}
		li {display: inline-block;  position: relative;
			a {font-size: 0.875em; color: #fff; font-weight: 400; text-transform: uppercase;
				padding: 5px 0; display: block;
			}
		}
		.sub-menu {display: none;     position: absolute; left: 0; width: 200px; line-height: normal; background: #fff;
	    li {display: block;}
	    .sub-menu {    left: 100%; margin: 0; top: 0}
	}
		.icon {display: none;}
	}
}



