@media only screen and (max-width:1030px) {
 .row.flex{display: flex;flex-flow: column;
 .sidebar{width:100%;padding:20px;
 ul{display:flex;
 li{padding-bottom:0;flex-basis:20%;}
 }
 }
 .content-area{width:100%;}
 .comments{width:100%;}
 }
}