<section>
	<div class="container">
		<div class="row flex">
	<div class="col-xs-2 sidebar">
		<ul>
			<li><a href="#" class="active"><i class="fa fa-folder-open"></i></a></li>
			<li><a href="#"><i class="fa fa-user-circle-o"></i></a></li>
			<li><a href="#"><i class="fa fa-sliders"></i></a></li>
			<li><a href="#"><i class="fa fa-compass"></i></a></li>
			<li><a href="#"><i class="fa fa-gear"></i></a></li>
		</ul>
	</div>	
	<div class="col-xs-6 content-area">
		<div class="col-xs-12 flex head">
			<div class="col-xs-3">
				<h3>Living Room</h3>
			</div>
			<div class="col-xs-9">
				<span class="active">Things <strong>21</strong></span>
				<span>Sensors <strong>5</strong></span>
				<span>Scenarios <strong>12</strong></span>
			</div>

		</div>
		<div class="col-xs-12 desc-list">
			<ul>
				<li>
					<div class="col-xs-3"><i class="fa fa-tv"></i></div>
					<div class="col-xs-9">
						<div class="col-xs-12">
							<h5>TV</h5>
							<ul>
								<li><i class="fa  fa-arrow-circle-down"></i> 0.2 KW/h</li>
								<li><i class="fa  fa-arrow-circle-down"></i> Martin</li>
								<li><i class="fa  fa-arrow-circle-down"></i> 5 minutes ago</li>

							</ul>
						</div>
					
					</div>
				</li>
				<li>
					<div class="col-xs-3"><i class="fa fa-laptop"></i></div>
					<div class="col-xs-9">
						<div class="col-xs-12">
							<h5>Computer</h5>
							<ul>
								<li><i class="fa  fa-arrow-circle-down"></i> 0.2 KW/h</li>
								<li><i class="fa  fa-arrow-circle-down"></i> Martin</li>
								<li><i class="fa  fa-arrow-circle-down"></i> 5 minutes ago</li>

							</ul>
						</div>
					
					</div>
				</li>
				<li>
					<div class="col-xs-3"><i class="fa fa-eye"></i></div>
					<div class="col-xs-9">
						<div class="col-xs-12">
							<h5>AVR</h5>
							<ul>
								<li><i class="fa  fa-arrow-circle-down"></i> 0.2 KW/h</li>
								<li><i class="fa  fa-arrow-circle-down"></i> Martin</li>
								<li><i class="fa  fa-arrow-circle-down"></i> 5 minutes ago</li>

							</ul>
						</div>
					
					</div>
				</li>
				<li>
					<div class="col-xs-3"><i class="fa fa-map"></i></div>
					<div class="col-xs-9">
						<div class="col-xs-12">
							<h5>Nest Thermostat</h5>
							<ul>
								<li><i class="fa  fa-arrow-circle-down"></i> 0.2 KW/h</li>
								<li><i class="fa  fa-arrow-circle-down"></i> Martin</li>
								<li><i class="fa  fa-arrow-circle-down"></i> 5 minutes ago</li>

							</ul>
						</div>
					
					</div>
				</li>
				<li>
					<div class="col-xs-3"><i class="fa fa-send"></i></div>
					<div class="col-xs-9">
						<div class="col-xs-12">
							<h5>Media Server</h5>
							<ul>
								<li><i class="fa  fa-arrow-circle-down"></i> 0.2 KW/h</li>
								<li><i class="fa  fa-arrow-circle-down"></i> Martin</li>
								<li><i class="fa  fa-arrow-circle-down"></i> 5 minutes ago</li>

							</ul>
						</div>
					
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="col-xs-4 comments">
    <h6>Comments</h6>
  <form>
		<textarea placeholder="Write Your Comments" [(ngModel)]="formFields.comment" [ngModelOptions]="{standalone: true}"></textarea>
    <span *ngIf="hasError" class="has-error">Field is required</span>
    <input type="submit" name="" value="Submit" (click)="submit()">
  </form>
		<ul *ngIf="comments">
			<li *ngFor="let comment of comments; let i=index"> {{ comment }} <a (click)="removeItem(i)"><i class="fa  fa-trash-o"></i></a></li>
		</ul>
	</div>
	<!-- end section one -->
</div>
	</div>
</section>