nav a#pull {
	display: none;
}

/*Styles for screen 515px and lower*/
@media only screen and (max-width : 1020px) {
nav>ul {
	margin: 0;
	position: absolute;
	top: 80px;
	width: 100%;
    max-width: 320px;
	right: 10px;
	background:  #fff;
	background-size:cover;
	display: none;
	z-index: 9999;
	padding:0 0 15px 0 !important;  
    line-height: normal;
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.57);
    max-height: 400px;
    overflow-x: scroll;
}
nav li {
	width: 100%;
	padding-left: 0px !important;
	margin: 0px !important;
	transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-webkit-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	text-align: center;
	line-height:normal; 
	    position: relative;
}
nav li a { padding:10px 0 !important; display:inline-block; outline:none; color:#000; line-height:normal !important;    }
nav li a:hover {   color:$red-color}
.navActive2 {   color:#9a53a2 }
nav a#pull {
	display: block;
	    width: 80px;
    position: absolute;
    right: 35px;
    line-height: 30px;     line-height: 20px;
    color: #e3242a;     margin-top: 31px; cursor: pointer;
}
nav a#pull:after {
	content: "";
	// background: url(../images/nav-icon.png) no-repeat;
	width: 20px;
	height: 20px;
	display: inline-block;
	position: absolute;
	right: 0;
	top: 0;
}
nav .close:after{ background-position:0 -20px !important}

nav .sub-menu {
	padding:0 !important;
	width: 100% !important;
	z-index:99999;
	position: static !important;
	border-radius:0;
	background:rgba(160, 129, 11, 0.74) !important
}

nav .sub-menu li { text-align:center !important; padding:0 !important; float:none !important; width: 100% !important;  }

nav .sub-menu li a { padding: 0 !important;  display: block; }
nav .sub-menu li a:hover { color:#000; }
.mob-contact, .sub-menu-icon { display:block }
.contact-nav { display:none }
nav ul {
    .submenu {position: static; width: 100% !important; top: 0 !important; box-shadow: none; min-height: 0;
     .submenu-level1 {position: static; left: 0; top: 0; width: 100%; height: auto; }
     .submenu-level2 {position: static; left: 0; right: 0; background: #e0e0e0; 
     	li {width: 100% !important; border-right: 0 !important; height: auto; float: none}
     	.pct-pic {display: none;}
     	.pct-name {width: 100%; height: auto; padding-left: 0}
     }
     .submenu-icon {right: 15px}
    }
    .submenu .col-1 {width: 100%; position: relative; box-shadow: none; height: auto;
    	ul {padding: 0;
    		li {padding: 0}
    		li.active>a {color: #000; 
    			&:before {display: none;}
    		}
    	}
    }
    .menu-pic {display: none;}
    .fixedheader nav>ul>li>a, .fixedheader .nav-right a {line-height: normal;}
}
span.submenu-icon {position: absolute; right: 8px; top: 10px; width: 20px; height: 20px;  font-size: 0; display: block;
	&.open {background-position: 0 -19px}
 }
.submenu .col-1>ul li.active .submenu-level2 {display: none;}


}


/*Smartphone*/
@media only screen and (max-width : 500px) {
nav ul {
	width: 100%;
	right: 0;
	max-width: 100%;
}
}
